-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: inventario_db
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `abonos_entradas`
--

DROP TABLE IF EXISTS `abonos_entradas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abonos_entradas` (
  `id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entrada_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `monto_usd` decimal(10,2) NOT NULL DEFAULT '0.00',
  `monto_ves` decimal(10,2) NOT NULL DEFAULT '0.00',
  `referencia` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `entrada_id` (`entrada_id`),
  CONSTRAINT `fk_abonos_entradas_entrada` FOREIGN KEY (`entrada_id`) REFERENCES `entradas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abonos_entradas`
--

LOCK TABLES `abonos_entradas` WRITE;
/*!40000 ALTER TABLE `abonos_entradas` DISABLE KEYS */;
/*!40000 ALTER TABLE `abonos_entradas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abonos_salidas`
--

DROP TABLE IF EXISTS `abonos_salidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abonos_salidas` (
  `id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cliente_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `monto_usd` decimal(10,2) NOT NULL DEFAULT '0.00',
  `monto_ves` decimal(10,2) NOT NULL DEFAULT '0.00',
  `referencia` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `salida_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cliente_name` (`cliente_name`),
  KEY `fk_abonos_salidas_salida` (`salida_id`),
  CONSTRAINT `fk_abonos_salidas_salida` FOREIGN KEY (`salida_id`) REFERENCES `salidas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abonos_salidas`
--

LOCK TABLES `abonos_salidas` WRITE;
/*!40000 ALTER TABLE `abonos_salidas` DISABLE KEYS */;
/*!40000 ALTER TABLE `abonos_salidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entradas`
--

DROP TABLE IF EXISTS `entradas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entradas` (
  `id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `proveedor_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `factura_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_factura` decimal(10,2) NOT NULL DEFAULT '0.00',
  `tasa_bcv_factura` decimal(10,4) NOT NULL DEFAULT '0.0000',
  `subtotal_factura` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo_adeudado` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fecha` date NOT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `proveedor_rif` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `proveedor_telefono` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `proveedor_direccion` text COLLATE utf8mb4_unicode_ci,
  `tipo_documento` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'NOTA DE ENTREGA',
  `numero_documento` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `tasa_bcv` decimal(10,4) NOT NULL DEFAULT '1.0000',
  `total_usd` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total_ves` decimal(12,2) NOT NULL DEFAULT '0.00',
  `saldo_adeudado_usd` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo_adeudado_ves` decimal(12,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entradas`
--

LOCK TABLES `entradas` WRITE;
/*!40000 ALTER TABLE `entradas` DISABLE KEYS */;
/*!40000 ALTER TABLE `entradas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entradas_items`
--

DROP TABLE IF EXISTS `entradas_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entradas_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrada_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `producto_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `producto_nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad` int NOT NULL,
  `costo_unitario` decimal(10,2) NOT NULL,
  `codigo_producto` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `costo_unitario_usd` decimal(10,4) NOT NULL DEFAULT '0.0000',
  `costo_unitario_ves` decimal(10,4) NOT NULL DEFAULT '0.0000',
  `subtotal_usd` decimal(10,2) NOT NULL DEFAULT '0.00',
  `subtotal_ves` decimal(12,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `entrada_id` (`entrada_id`),
  CONSTRAINT `fk_entradas_items_entrada` FOREIGN KEY (`entrada_id`) REFERENCES `entradas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entradas_items`
--

LOCK TABLES `entradas_items` WRITE;
/*!40000 ALTER TABLE `entradas_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `entradas_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

DROP TABLE IF EXISTS `inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario` (
  `id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad` int NOT NULL DEFAULT '0',
  `costo_unitario` decimal(10,2) NOT NULL DEFAULT '0.00',
  `precio_venta1` decimal(10,2) NOT NULL DEFAULT '0.00',
  `precio_venta2` decimal(10,2) NOT NULL DEFAULT '0.00',
  `precio_venta3` decimal(10,2) NOT NULL DEFAULT '0.00',
  `precio_unitario` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `codigo_producto` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `costo_unitario_ves` decimal(10,4) DEFAULT NULL,
  `precio_unitario_ves` decimal(10,4) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `codigo_producto` (`codigo_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salidas`
--

DROP TABLE IF EXISTS `salidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salidas` (
  `id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cliente_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendedor_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `factura_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_factura` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo_adeudado` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fecha` date NOT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tipo_documento` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ORDEN DE ENTREGA',
  `cedula_rif` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `direccion` text COLLATE utf8mb4_unicode_ci,
  `total_unidades` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salidas`
--

LOCK TABLES `salidas` WRITE;
/*!40000 ALTER TABLE `salidas` DISABLE KEYS */;
INSERT INTO `salidas` VALUES ('sal_1899e25b','Alexander Almaguer','JUAN MORA','000001',88.35,88.35,'2026-09-02','','2026-09-02 00:52:38','NOTA DE ENTREGA','30626438','24545254225','calle santa rosa',3),('sal_b6b9e4e9','Alexander Almaguer','JUAN MORA','000002',2582.50,2582.50,'2026-09-02','','2026-09-02 01:05:08','NOTA DE ENTREGA','30626438','24545254225','calle santa rosa',89);
/*!40000 ALTER TABLE `salidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salidas_items`
--

DROP TABLE IF EXISTS `salidas_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salidas_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `salida_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `producto_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `producto_nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad` int NOT NULL,
  `costo_unitario` decimal(10,2) NOT NULL DEFAULT '0.00',
  `precio_unitario` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `salida_id` (`salida_id`),
  CONSTRAINT `fk_salidas_items_salida` FOREIGN KEY (`salida_id`) REFERENCES `salidas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salidas_items`
--

LOCK TABLES `salidas_items` WRITE;
/*!40000 ALTER TABLE `salidas_items` DISABLE KEYS */;
INSERT INTO `salidas_items` VALUES (10,'sal_1899e25b','prod_inv','Lucky Nova 20 Cig x 10 Cajetillas (E)',3,28.90,29.45),(11,'sal_b6b9e4e9','prod_bol02','Boligrafos BIC Azul 12 UND (E)',1,4.42,5.00),(12,'sal_b6b9e4e9','prod_icc','Lucky Cosmic 20 Cig x 10 Cajetillas (E)',5,30.34,29.45),(13,'sal_b6b9e4e9','prod_ice','Lucky Eclipse 20 Cig x 10 Cajetillas (E)',5,30.34,29.45),(14,'sal_b6b9e4e9','prod_inv','Lucky Nova 20 Cig x 10 Cajetillas (E)',72,28.90,29.45),(15,'sal_b6b9e4e9','prod_isr','Lucky Strike Red 20 Cig x 10 Cajetillas (E)',6,28.05,27.10);
/*!40000 ALTER TABLE `salidas_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasa_bcv`
--

DROP TABLE IF EXISTS `tasa_bcv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasa_bcv` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `tasa_hoy` decimal(10,4) NOT NULL,
  `tasa_manana` decimal(10,4) DEFAULT NULL,
  `fuente` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'BCV',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fecha` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasa_bcv`
--

LOCK TABLES `tasa_bcv` WRITE;
/*!40000 ALTER TABLE `tasa_bcv` DISABLE KEYS */;
INSERT INTO `tasa_bcv` VALUES (1,'2026-08-31',794.9917,NULL,'BCV (DolarApi Oficial)','2026-08-31 15:40:46'),(2,'2026-09-01',798.3260,NULL,'BCV (DolarApi Oficial)','2026-09-01 23:32:19'),(3,'2026-09-02',798.3260,NULL,'BCV (DolarApi Oficial)','2026-09-02 00:12:35');
/*!40000 ALTER TABLE `tasa_bcv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'admin','admin@inventario.com','$2y$10$45zD.5xXvS8hU3Z0g/1J2.R0N5GZlC.S4w6B1x4M6r6W5y5n5W5eS','2026-08-31 12:41:16');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-01 22:34:49
